.wrapper{
  width: 100%;
  max-width: 1360px;
  padding:0 40px;
  margin: 0 auto;
  
}

.site-title a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
#menu{
  position: fixed;
  top:0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}

.main-list{
  display:grid;
  grid-template-columns:294px 294px 294px 294px;
  grid-template-rows: 294px 294px;
  gap:80px 34px;
}
.main-list img{
  width: 294px;
  height: 294px;
}
.main-list{
  a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    
  }
  
  p{
    line-height:0.5;
  }
}
  
